<!-- <p>employee works</p>
{{empnamepar}} -->

<!-- <div *ngFor="let parmydata of mydata">
    <p>{{parmydata.name}}</p>
    <p>{{parmydata.email}}</p>
    <p>{{parmydata.mobno}}</p>
</div>
 -->
<!-- 
 <div *ngFor="let parmydata of mydata">
    <p>{{parmydata.name}}</p>
    <p>{{parmydata.email}}</p>
    <p>{{parmydata.mobno}}</p>
</div> -->

 <div *ngFor="let row of rowData" style="background-color: skyblue;color:black;padding:10px;margin-bottom: 10px;margin-left: 10px; text-align: center; width: 30%;float: left;">
    <p>this is the datat fromdata row</p>
    <p>{{row.firstName }}</p>
    <p>{{row.lastName}}</p>
    <p>{{row.mobileNo}}</p>
</div>  

<!-- <div style="background-color: skyblue;color:black;padding:10px;margin-bottom: 10px;margin-left: 10px; text-align: center; width: 30%;float: left;">
    <p>this is the datat fromdata row</p>
    <p>{{rowData.firstName}}</p>
    <p>{{rowData.lastName}}</p>
    <p>{{rowData.mobileNo}}</p>
</div> -->


